.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;

}

img {
  width: 30vh;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 0.8rem;
}

/*//////BOTONES////////*/
.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white; /*fondo blanco*/
  color: rgb(65,98,168); /*letras aazules*/
  border-radius: 1rem;
  border: 2px solid rgb(65,68,168);
  font-weight: bold;
  cursor: pointer;

}

/*cuando se activa el boton, cambia fondo azul + letras blancas*/
button.active {
  background: rgb(65,98, 168);
  color: white;
}